/****** Script for SelectTopNRows command from SSMS  ******/
SELECT ACTION_CODE
, ACTION_DATETIME
, B_emp_id
, B_user_monetary_amt_2
, A_emp_id
, A_user_monetary_amt_2

FROM [DBShrpn].[dbo].[employee_aud]
where B_emp_id = '10007'

order by ACTION_DATETIME