USE DBShrpn
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF OBJECT_ID(N'dbo.ghr_pay_check_deduction', N'U') IS NOT NULL
BEGIN
    DROP TABLE dbo.ghr_pay_check_deduction
    IF OBJECT_ID(N'dbo.ghr_pay_check_deduction') IS NOT NULL
        PRINT N'<<< FAILED DROPPING TABLE dbo.ghr_pay_check_deduction >>>'
    ELSE
        PRINT N'<<< DROPPED TABLE dbo.ghr_pay_check_deduction >>>'
END
GO


CREATE TABLE dbo.ghr_pay_check_deduction
    (
      emp_id                        char(15)                NOT NULL
    , payroll_run_type_id           char(10)                NOT NULL
    , pay_pd_id                     char(10)                NOT NULL
    , pmt_seq_nbr                   int                     NOT NULL
    , pay_element_id                char(10)                NOT NULL

    , EffectiveDate                 datetime                NOT NULL
    , HROrganization                char(04)                NOT NULL
    , Employee                      char(15)                NOT NULL
    , CheckDate                     datetime                NOT NULL
    , CheckID                       char(15)                NOT NULL
    , CheckDeductionCounter         int                     NOT NULL
    , DeductionType                 char(01)                NOT NULL
    , DeductionDescription          char(35)                NOT NULL
    , DeductionAmount               money                   NOT NULL
    , YearToDateDeductionAmount     money                   NOT NULL
    , CONSTRAINT PK_ghr_pay_check_deduction  PRIMARY KEY
        (
          emp_id
        , payroll_run_type_id
        , pay_pd_id
        , pmt_seq_nbr
        , pay_element_id
        )
    , CONSTRAINT FK_ghr_pay_check_deduction FOREIGN KEY
        (
          emp_id
        , payroll_run_type_id
        , pay_pd_id
        , pmt_seq_nbr
        )
        REFERENCES dbo.ghr_pay_check
		(
          emp_id
        , payroll_run_type_id
        , pay_pd_id
        , pmt_seq_nbr
        )
        ON DELETE CASCADE
    )

GO

ALTER AUTHORIZATION ON dbo.ghr_pay_check_deduction TO  SCHEMA OWNER
GO


IF OBJECT_ID(N'dbo.ghr_pay_check_deduction', N'U') IS NOT NULL
    PRINT N'<<< CREATED TABLE dbo.ghr_pay_check_deduction >>>'
ELSE
    PRINT N'<<< FAILED CREATING TABLE dbo.ghr_pay_check_deduction >>>'
GO