USE DBShrpn
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF OBJECT_ID(N'dbo.ghr_pay_check', N'U') IS NOT NULL
BEGIN
    DROP TABLE dbo.ghr_pay_check
    IF OBJECT_ID(N'dbo.ghr_pay_check') IS NOT NULL
        PRINT N'<<< FAILED DROPPING TABLE dbo.ghr_pay_check >>>'
    ELSE
        PRINT N'<<< DROPPED TABLE dbo.ghr_pay_check >>>'
END
GO


CREATE TABLE dbo.ghr_pay_check
    (
      emp_id                        char(15)                NOT NULL
    , payroll_run_type_id           char(10)                NOT NULL
    , pay_pd_id                     char(10)                NOT NULL
    , pmt_seq_nbr                   int                     NOT NULL
    , seq_ctrl_yr                   int                     NOT NULL

    , EffectiveDate                 datetime                NOT NULL
    , HROrganization                char(04)                NOT NULL
    , Employee                      char(15)                NOT NULL
    , CheckDate                     datetime                NOT NULL
    , CheckNumber                   char(15)                NOT NULL
    , PayPeriodID                   char(10)                NOT NULL
    , PayPeriodBeginDate            datetime                NOT NULL
    , PayPeriodEndDate              datetime                NOT NULL
    , NetPayAmount                  money                   NOT NULL
    , YearToDateNetPay              money                   NOT NULL
    , CheckNetAmount                money                   NOT NULL
    , YearToDateCheckNet            money                   NOT NULL
    , GrossPayAmount                money                   NOT NULL
    , YearToDateGrossPay            money                   NOT NULL
    , Taxable                       money                   NOT NULL
    , YearToDateTaxable             money                   NOT NULL
    , TotalACH                      money                   NOT NULL
    , TotalOtherDeductions          money                   NOT NULL
    , TotalCheckDeductions          money                   NOT NULL
    , TotalTaxDeductions            money                   NOT NULL
    , TotalYearToDateDeductions     money                   NOT NULL
    , CheckID                       char(15)                NOT NULL
    , CheckType                     char(01)                NOT NULL
    , CONSTRAINT PK_ghr_pay_check PRIMARY KEY CLUSTERED
        (
          emp_id ASC
        , payroll_run_type_id ASC
        , pay_pd_id ASC
        , pmt_seq_nbr ASC
        )
    )
GO


CREATE NONCLUSTERED INDEX idx_ncl_ghr_ghr_pay_check ON dbo.ghr_pay_check
   (
      emp_id
    , seq_ctrl_yr
    , payroll_run_type_id
    , pay_pd_id
    , pmt_seq_nbr
   )
  WITH (
        PAD_INDEX = OFF,
        FILLFACTOR = 90
       )
GO

ALTER AUTHORIZATION ON dbo.ghr_pay_check TO  SCHEMA OWNER
GO


IF OBJECT_ID(N'dbo.ghr_pay_check', N'U') IS NOT NULL
    PRINT N'<<< CREATED TABLE dbo.ghr_pay_check >>>'
ELSE
    PRINT N'<<< FAILED CREATING TABLE dbo.ghr_pay_check >>>'
GO